#rich-optima-24 {
    --black-color: #000326;
    --white-color: #ffffff;
    --accent-color: #0081FF;    
    --trans-dur: 250ms;
    --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--black-color);
    letter-spacing: 0.01em;

    @media (min-width: 760px) {
        font-size: 32px;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    ul,
    ol {
        padding-left: 0;
        margin: 0;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    section {
        margin: 0 auto;
        padding: 64px 0 84px 0;

        @media (min-width: 760px) {
            padding: 144px 0 174px 0;
        }
    }

    .section-top-border {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -20px;

        @media (min-width: 760px) {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            margin-top: -30px;
        }
    }

    .section-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        text-transform: uppercase;

        @media (min-width: 760px) {
            font-size: 56px;
        }

        @media (min-width: 1460px) {
            font-size: 72px;
        }
    }

    .section-subtitle {
        display: flex;
        gap: 16px;
        align-items: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        text-transform: uppercase;

        @media (min-width: 760px) {
            font-size: 42px;
            gap: 30px;
            height: 93px;
        }

        &::before {
            content: '';
            display: block;
            flex-shrink: 0;
            width: 1px;
            height: 43px;
            background-color: var(--black-color);

            /* @media (min-width: 760px) {
                height: 75px;
            } */
        }
    }

    @media (min-width: 760px) {
        .section-subtitle::before {
            height: 75px;
        }
    }

    .link {
        text-decoration: none;
    }

    .list {
        list-style: none;
    }

    .wrap-container {
        max-width: 100%;
        padding: 0 28px;

        @media (min-width: 760px) {
            padding: 0 78px;
        }

        @media (min-width: 1680px) {
            padding: 0 144px;
        }
    }

    /* HERO SECTION */

    .optima-hero {
        padding: 84px 0;
        background: linear-gradient(180deg, #060714 39%, #252639 64.81%);

        @media (min-width: 760px) {
            padding: 204px 0 174px 0;
        }

        @media (min-width: 1680px) {
            padding: 294px 0 234px 0;
        }

        .hero-logo-wrap {
            max-width: 184px;
            margin-bottom: 54px;

            @media (min-width: 760px) {
                max-width: 455px;
                margin-bottom: 114px;
            }

            @media (min-width: 1460px) {
                max-width: 607px;
                margin-bottom: 264px;
            }
        }

        .hero-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20%;
            background-image: url('../img-optima-24/hero-tv-mob.png');
            background-repeat: no-repeat;
            background-position: 50% 0%;
            background-size: contain;
            /* max-width: 780px; */

            @media (min-width: 560px) {
                background-image: url('../img-optima-24/hero-tv-tab.png');
                padding-top: 15%;
            }

            @media (min-width: 960px) {
                background-image: url('../img-optima-24/hero-tv-web.png');
                padding-top: 17%;
            }

            @media (min-width: 1360px) {
                padding-top: 174px;
                padding-bottom: 217px;
                background-size: auto;
            }
           

            .hero-main-text {
                margin-bottom: 134px;
                width: 270px;
                font-weight: 600;
                font-size: 30px;
                line-height: 1.1;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                text-align: center;
                background: linear-gradient(90deg, #0577e6 0%, #23e7f1 83.5%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @media (min-width: 460px) {
                    margin-bottom: 174px;                    
                }

                @media (min-width: 560px) {
                    font-size: 56px;
                    width: 500px;
                }

                @media (min-width: 660px) {
                    margin-bottom: 234px;
                }

                @media (min-width: 760px) {
                    font-size: 72px;
                    width: 700px;
                }

                @media (min-width: 960px) {
                    font-size: 72px;
                    width: 700px;
                    margin-bottom: 35%;
                }

                @media (min-width: 1240px) {
                    width: 700px;
                }

                @media (min-width: 1360px) {
                    width: 1200px;
                    margin-bottom: 54px;
                }

                @media (min-width: 1680px) {
                    font-size: 96px;
                    width: 1600px;
                }
            }

            .hero-text {
                margin-bottom: 34px;
                width: 270px;
                font-weight: 300;
                font-size: 21px;
                line-height: 1.2;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                text-align: center;
                color: #b7c1ea;

                @media (min-width: 560px) {
                    font-size: 28px;
                    width: 100%;
                }

                @media (min-width: 760px) {
                    font-size: 36px;
                    width: 100%;
                }

                @media (min-width: 1360px) {
                    padding-bottom: 84px;
                }
            }

            .hero-model-wrap {
                display: inline-flex;
                border: 0.50px solid var(--accent-color);

                .model-text {
                    font-size: 22px;
                    text-transform: uppercase;
                    padding: 6px 12px;
                    line-height: 1;
                    display: inline-block;

                    @media (min-width: 560px) {
                        font-size: 34px;
                        padding: 9px 18px;
                    }

                    @media (min-width: 760px) {
                        font-size: 45px;
                        padding: 12px 24px;
                    }

                    &.optima {
                        background-color: var(--accent-color);
                        font-weight: 700;
                    }

                    &.series {
                        color: var(--accent-color);
                        font-weight: 300;
                    }
                }
            }
        }
    }

    /* WHY-KIVI SECTION */

    .why-kivi {
        background-color: #46475c;
        color: var(--white-color);

        .wrap-container{
            display: flex;
            flex-direction: column;
            gap: 54px;

            @media (min-width: 760px) {
                gap: 84px;
            }

            .why-kivi-list-wrap {
                display: flex;
                flex-direction: column;
                gap: 54px;

                @media (min-width: 760px) {
                    gap: 84px;
                }

                @media (min-width: 1360px) {
                    flex-direction: row;
                }

                .why-kivi-list {
                    display: flex;
                    flex-direction: column;
                    gap: 54px;

                    @media (min-width: 760px) {
                        gap: 84px;
                    }

                    .why-kivi-list-item {
                        display: flex;
                        gap: 32px;
                        align-items: flex-start;

                        @media (min-width: 760px) {
                            gap: 60px;
                        }

                        .img-wrap {
                            display: flex;
                            flex-shrink: 0;
                            gap: 16px;
                            width: 49px;
                            align-items: center;
                            padding-top: 5px;

                            @media (min-width: 760px) {
                                width: 111px;
                                gap: 30px;

                                .img-wrap::after {
                                    height: 81px;
                                }
                            }

                            &::after {
                                content: '';
                                display: block;
                                flex-shrink: 0;
                                width: 1px;
                                height: 50px;
                                background-color: var(--white-color);

                                /* @media (min-width: 760px) {
                                    height: 81px;
                                } */
                            }
                        }

                        @media (min-width: 760px) {
                            .img-wrap::after {
                                height: 81px;
                            }
                        }

                        .why-kivi-list-text {
                            align-self: center;
                            font-size: 14px;

                            @media (min-width: 760px) {
                                font-size: 24px;
                            }
                        }

                    }

                    .why-kivi-list-item-partners {

                        .partners-title{
                            font-size: 16px;
                            margin-bottom: 24px;

                            @media (min-width: 760px) {
                                font-size: 24px;
                            }
                        }

                        .partners-wrap {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            @media (min-width: 760px) {
                                flex-direction: row;
                                align-items: start;
                                gap: 30px;

                                .decor-wrap {
                                    display: flex;
                                    align-items: center;
                                    gap: 30px;
                                    padding-top: 10px;
                                    
                                    &::after {
                                        content: '';
                                        display: block;
                                        flex-shrink: 0;
                                        width: 1px;
                                        height: 81px;
                                        background-color: var(--white-color);        
                                    }
                                }
                            }                            

                            .logos-wrap {
                                display: flex;
                                justify-content: space-between;
                                gap: 16px;

                                @media (min-width: 460px) {
                                    justify-content: flex-start;
                                    gap: 32px;
                                }

                                @media (min-width: 760px) {
                                    flex-direction: column;
                                    width: 111px;
                                    flex-shrink: 0;
                                    justify-content: center;
                                    gap: 20px;
                                }
                            }

                            .why-kivi-list-text {
                                align-self: center;
                                font-size: 14px;
                                
                                @media (min-width: 760px) {
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* TECH SECTION */

    .technologies {
        background-color: var(--white-color);

        .technologies-list {
            display: flex;
            flex-direction: column;
            gap: 54px;

            @media (min-width: 760px) {
                gap: 84px;
            }

            @media (min-width: 1360px) {
                flex-direction: row;
                flex-wrap: wrap;
                row-gap: 84px;
                column-gap: 24px;
            }

            .technologies-list-item {
                display: flex;
                flex-direction: column;
                gap: 24px;

                @media (min-width: 760px) {
                    gap: 54px;
                }

                @media (min-width: 1360px) {
                    flex: 1 1 calc(50% - 12px);
                }

                .technologies-info {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    @media (min-width: 760px) {
                        gap: 34px;
                    }
                }
            }
        }

    }

    /* HERO SECTION */
}